
.input:hover{
  border:0px;
}

/* #75797D */
.form-label{
    color:#75797D;
}

.form-required{
    color:"red";

}


.req-text{
  /* color: rgb(183, 65, 65); */
  font-size: 13px;
  margin-top: 8px;
  color: #d42421;
    
}

/* REPORTS */


.report-dropdown,.custom-dropdown{
    width: 100%;
    height:35px;
    border:1px solid #D7DEE6;
    border-radius:4px;
}

button{
    /* padding: auto; */
    margin: 1px !important;
}

.emp-thumb{
    height:50px;
    width:50px;
}



/* root */
:root {
    --nav-bg: #ffffff;
    --sidebar-bg: #ffffff;
    --form-bg: #ffffff;
    --field-sec-bg: #ffffff;
    /* --sidebar-txt:rgb(70, 40, 169); */
    --sidebar-txt: black;
  
    --active-bg: #f5f9ff;
    /* --nav-hover-txt :black; */
    --nav-hover-txt: rgb(70, 40, 169);
    --nav-hover-bg: #f7f7f7;
    --sidebar-hover-bg: #f7f7f7;
    --content-bg: #ffffff;
    --btn-fontsize:13px;
    font-size: 15x;
    --sub-head-fontsize:20px;
    --label-fontsize:13px;
  }
  
  :root1 {
    --nav-bg: #0c213a;
    --nav-txt: rgb(229, 228, 238);
    --sidebar-bg: #0c213a;
    --form-bg: #ffffff;
    --field-sec-bg: #ffffff;
    --sidebar-txt: rgb(229, 228, 238);
    --active-bg: #ffffff;
    --nav-hover-txt: black;
  }
  
  #root {
    min-height:100lvh;
    background-color: var(--active-bg);
  }
  


  .trash-icon {
    color: red;
    /* background-color: #ccc; */
    padding: 10px;
    border-radius: 50%;
    position: relative;
    top: 5px;
    /* right:-50px; */
    left: 250px;
  }
  
  .trash-icon:hover {
    background-color: beige;
    cursor: pointer;
  }
  
  /* buttons ------------------------------------------------- */
  /* submit */
  .submit-button {
    background-color: #32579a;
    color: #ffffff;
    padding: 6px;
    min-width: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
  }
  .submit-button:hover {
    background-color: #0c2553;
    color: #ffffff;
  }
  
  /* editbutton */
  .btn-edit {
    background-color: #0047cb;
    color: #ffffff;
    padding: 5px;
    font-size:var(--btn-fontsize);
    min-width: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    margin: 2px;
    /* margin: 20px;; */
    /* font-size:18px; */
    /* outline: none; */
  }
  .btn-edit:hover {
    /* background-color: #6a7b9b; */
    color: #ffffff;
  }
  
  /* update */
  .btn-update {
    background-color: #0047cb;
    color: #ffffff;
    padding: 5px;
    /* font-size:inherit; */
    min-width: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    /* margin: 20px;; */
    font-size:var(--btn-fontsize);
    /* outline: none; */
  }
  .btn-update:hover {
    /* background-color: #6a7b9b; */
    color: #ffffff;
  }
  
  /* print */
  .btn-print {
    padding: 4px 8px;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size:var(--btn-fontsize);
    margin: 2px;
  }
  
  /* delete */
  .btn-delete {
    background-color: #d1432ae3;
    color: #ffffff;
    padding: 5px;
    min-width: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    font-size:var(--btn-fontsize);
    margin: 2px;
  }
  .btn-delete:hover {
    background-color: red;
    color: #ffffff;
  }
  
  /* btn-cancel */
  .btn-cancel {
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    min-width: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    font-size:var(--btn-fontsize);
  }
  .btn-delete:hover {
    background-color: rgb(210, 202, 202);
    color: #131111;
  }
  /* create */
  .btn-create {
    background-color: #0047cb;
    color: #ffffff;
    padding: 5px;
    min-width: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    font-size:var(--btn-fontsize);
    margin: 2px;
  }
  
  .btn-create:hover {
    background-color: #1257d7;
    color: #ffffff;
  }
  .btn-route {
    background-color: #190482;
    color: #ffffff;
    padding: 5px;
    min-width: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    font-size:var(--btn-fontsize);
  }
  
  /* .btn-route:hover{
      background-color: #0d68c4;
      color:#FFFFFF; 
  } */
  
  
  /* pagination */
  
  .btn-pagination-number{
    background-color: #dddce4;
    /* color: #ffffff; */
    padding: 5px;
    margin: 2px;
    min-width: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    font-size:var(--btn-fontsize);
  }
  .currentpage{
    background-color: #0047cb;
  }
  
  .files-view-div {
    display: flex;
    justify-items: flex-start;
    flex-wrap: wrap;
  }
  .btn-file {
    /* background-color: #805c5c;
      border-radius: 5px solid  #d2c7c71f ; */
    margin: 2px;
    background-color: #928ea9;
    color: #c1cdcdc3;
    padding: 5px;
    min-width: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
  }
  .btn-file a {
    color: white;
  }
  
  /* btn-disabled */
  
  .btn-disabled{
    margin: 2px;
    background-color: #d0d8e7;
    padding: 4px 8px;
    background-color: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  
    padding: 5px;
    font-size:var(--btn-fontsize);
    min-width: 60px;
    box-shadow: none;
  }
  .btn-disabled:hover{
    /* cursor:not-allowed */
  }
  
  .btn-deactivated{
  
    background-color: #d0d8e7;
    padding: 4px 8px;
    background-color: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  
    padding: 5px;
    font-size:var(--btn-fontsize);
    min-width: 60px;
    box-shadow: none;
  }
  .btn-deactivated:hover{
    /* cursor:not-allowed */
  }
  
  .disabled{
    background-color: #0047cb;
    /* background-color: #e7e8e9; */
    opacity: .50;
    padding: 4px 8px;
    background-color: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  
    padding: 5px;
    font-size:var(--btn-fontsize);
    min-width: 60px;
    box-shadow: none;
  }
  
  .disabled:hover {
    cursor:not-allowed
  }
  
  
  .btn-activate {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
  
    padding: 4px 8px;
    background-color: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    font-size:var(--btn-fontsize);
    min-width: 60px;
    box-shadow: none;
  }
  


  
  .btn-view {
    background-color: #0047cb;
    color: #ffffff;
    padding: 5px;
    min-width: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    margin-right: 10px;
    font-size:var(--btn-fontsize);
  }
  .btn-view > a {
    color: inherit;
  }
  
  .btn-view:hover {
    color: #ffffff;
  }
  
  .btn-download {
    background-color: #0047cb;
    color: #ffffff;
    padding: 5px;
    min-width: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    font-size:var(--btn-fontsize);
  }
  
  .btn-download > a {
    color: inherit;
  }
  
  .btn-download:hover {
    color: #ffffff;
  }
  
  .btn-remove {
    /* background-color: #d64f4f; */
    background-color: #de6262;
    color: #ebe6e6;
    padding: 2px;
    min-width:35px;
    border: 0px solid #ccc;
    border-radius: 5px;
    box-shadow: none;
  
  }
  
  .btn-file-remove {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    padding: 2px;
    /* border-radius: 5px; */
  }
  
  .btn-file-remove:hover{
    background: rgba(173, 216, 230, 0.693);
  }

  
  .header-left
 {
      justify-content: space-between;
      -webkit-justify-content: space-between;
      -ms-flex-pack: space-between;
  }